.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.odt
*.csv
.sqlite
/R/elsa/dados_elsa/
/java/udemy_java/Projeto01 - Socket/nbproject/private/
/java/udemy_java/Projeto01 - Socket/build/
/java/udemy_java/Projeto03 - MultiplasConexoes/nbproject/private/
/java/udemy_java/Projeto03 - MultiplasConexoes/build/
/java/udemy_java/LocalHost01/nbproject/private/
/java/udemy_java/LocalHost01/build/
/java/udemy_java/LocalHost02/nbproject/private/
/java/udemy_java/LocalHost02/build/
